/* ==========================================================================
   Base styles
   ========================================================================== */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-size: 14px;
    background: #E5E9EC;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#header,
h1,
h2,
h3 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    color: #2c3e50;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 23px;
}

a {
    color: #0B9C8F;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



#header {
    height: 60px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, .1) 0 0 13px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
#header h1 {
    position: relative;
    margin: 0;
    color: #999;
    line-height: 60px;
    float: left;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(0, 0, 0, .15);
}
#header h1 a:after {
    content: " ";
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, .3);
    height: 50%;
    position: absolute;
    top: 0;
}
#header h1 a {
    color: #999;
    text-decoration: none;
}
#header h1 a .market {
    font-weight: normal;
    color: #0B9C8F;
    text-shadow: none;
}



.logbox {
    text-align: right;
    float: right;
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
}
.logbox .infos {
    float: left;
    margin-right: 10px;
}
.logbox .name {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 18px;
}
.logbox .last-name {
    font-weight: normal;
}
.logbox .logout {
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    text-align: left;
    background-image: url("../images/logout.png");
    transition: all .2s;
    opacity: .5;
    border-radius: 40px 10px 40px 40px;
}
.logbox .logout:hover,
.logbox .logout:focus {
    background-color: #DDD;
    opacity: 1;
}
.logbox .login {
    display: block;
    float: right;
    height: 40px;
    text-transform: uppercase;
    color: #999;
    font-size: 22px;
    line-height: 40px;
    padding: 0 20px;
    transition: all .2s;
}
.logbox .login:hover,
.logbox .login:focus {
    background: #DDD;
    color: #1B1E24;
    text-decoration: none;
}



.flash.success {
    background: #27ae60;
}
.flash.error {
    background: #c0392b;
}
.flash {
    padding: 13px 2%;
    margin-top: 10px;
    color: #FFF;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
}



.actions {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-top: -65px;
}
.box .actions {
    margin-top: 0;
    position: absolute;
    right: 25px;
    top: 20px;
}
.actions li {
    float: left;
    margin-left: 5px;
}
.actions a,
.actions span,
form button {
    display: block;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto, Arial, sans-serif;
    color: #1B1E24;
    background: rgba(0, 0, 0, .05);
    transition: background .15s;
    text-transform: uppercase;
    border-radius: 3px;
}
.actions a:hover,
.actions a:focus,
form button:hover,
form button:focus {
    text-decoration: none;
    background: rgba(0, 0, 0, .15);
}



.row {
    margin-bottom: 30px;
}
.row:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}
.box {
    background: #FFF;
    border: 1px solid #DDD;
    border-top: 3px solid #0AA699;
}
.box-in {
    padding: 15px 25px;
    position: relative;
}
.box-in:not(:last-child) h3 {
    margin-bottom: 0;
}
.w50 {
    width: 50%;
    max-width: 600px;
}
.row .w50:first-child {
    margin-right: 1%;
}
.row .w50:last-child:not(:first-child) {
    margin-left: 1%;
}
.row .w50 {
    width: 49%;
}
.row .w50 {
    float: left;
}


.rickshaw_graph {
    position: relative;
}
.rickshaw_graph .detail {
    position: absolute;
    pointer-events: none;
    top: 0;
}
.rickshaw_graph .detail.inactive,
.rickshaw_graph .detail .item:empty,
.rickshaw_graph .detail .item:empty + .dot {
    display: none;
}
.rickshaw_graph .detail .item {
    position: absolute;
    background: rgba(255, 255, 255, .8);
    box-shadow: rgba(0, 0, 0, .3) 0 0 4px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: -37px 0 0 -25px;
    border-radius: 3px;
}
.rickshaw_graph .detail .dot {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    height: 8px;
    width: 8px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: #FFF 0 0 5px;
    margin: -4px 0 0 -4px;
}
.rickshaw_graph .x_label {
    display: none;
}



table {
    width: 100%;
    font-size: 14px;
}
table tfoot {
    display: none;
}
table caption,
h3 {
    height: 50px;
    line-height: 50px;
    margin: 0;
    color: #333;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid #DDD;
    font-size: 23px;
    font-weight: 300;
    font-family: Roboto, Arial, sans-serif;
}
table thead,
table tfoot {
    text-align: left;
    font-size: 13px;
    color: #22262E;
}
table th {
    font-weight: bold;
    text-transform: uppercase;
}
table tr {
    height: 40px;
}
table tbody tr {
    border-top: 1px solid #DDD;
}
table tbody tr:hover {
    background: #EEE;
}
table td,
table th {
    padding: 0 10px;
}



h3 {
    margin-bottom: 30px;
}



form label {
    display: block;
    color: #55606E;
    line-height: 20px;
    margin-bottom: 5px;
}
form input {
    border: 1px solid #DDD;
    padding: 6px 11px;
    border-radius: 2px;
    width: 100%;
    transition: all .15s;
}
form input:focus {
    outline: none;
    border-color: #0B9C8F;
    box-shadow: #0B9C8F 0 0 3px;
}
.form-error {
    font-size: 13px;
    color: #C0392B;
    padding-left: 1px;
}
form .submit {
    height: 60px;
    margin: 0;
}
form button {
    margin-top: 24px;
    border: 0;
    float: right;
    color: #FFF;
    background: #0B9C8F;
}
form button:hover,
form button:focus {
    background: #0AA699;
}



.positive {
    color: #27ae60 !important;
}
.negative {
    color: #c0392b !important;
}



footer {
    margin-top: 50px;
    padding: 15px 0;
    background: #1B1E24;
    text-align: center;
    color: #999;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}
footer .market {
    color: #CCC;
}
footer p {
    margin: 0;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    #header {
        height: 120px;
    }
    #header h1 {
        width: 100%;
        text-align: center;
    }
    .actions {
        float: none;
        margin: 0 0 20px;
        height: 40px;
    }
    .box .actions {
        display: none;
    }
    .actions li {
        margin-right: 5px;
        margin-left: 0;
    }

    .w50,
    .w50.box {
        width: 100%;
        float: none;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .row .w50:not(:last-child) {
        margin: 0 0 30px;
    }
    .w50:after {
        content: " ";
        display: block;
        width: 100%;
        clear: both;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
